.header {
    font-family: monospace;
    font-size:50px;
    color: rgb(255, 0, 0);
    text-align: center;
    font-weight: 900;
    padding-top: 5px;
    padding-bottom: 40px;
}

/* .header-one {

} */