body {
    background-color: black;
    padding-left: initial;
}

.App {
    display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}

.container {
    background-color: black;
}

