 body {
  background-color: black;
  padding-left: initial;
  display: grid;
}

/*

.Description Secondary {
  color: white;
}

.App {
  border: 1px solid #000000;
  background-color: black;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin: 8px;
}

.App.components {
  border: 1px solid #e62524;
}

.header-link {
  font-size: 50px;
  font-weight: bold;
  color: white;
  text-align: center;
}


/* .SiteDetails {
  margin-top: 10px; } */
  
  /* sm */
  .Image {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 30vh;
}
/* @media (max-width: 640px) {
    .Description {
      display: grid; } } */

/* md */
/* @media (min-width: 641px) and (max-width: 768px) {
    .Description {
      display: grid; } } */
.MuiBox-root css-{
  background-color: black;
}
.Container {
  background-color: #1e1818 !important;
  text-align: left;
  display: flex;
  flex-direction: column-reverse;
  margin: 6px;
  padding: 10px;
  border-radius: 9px;
  border-color: #1e1818 !important;
  transition: 0.3s all ease;
  height: 80%;
} 

.Title {
  color: white !important;
  font-family: monospace;
}

.Description {
  color: #b1dae3 !important;
  font-family: monospace;
}